@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #0061ff0a 50%, rgba(0, 97, 255, 0) 100%);
}
.right {
    position: absolute;
    top: 160px;
    right: 160px;
}
.left {
    position: absolute;
    bottom: 160px;
    left: 160px;
}
.left:hover{
    width: 63px;
}

.header {
    margin-bottom: 50px;
    z-index: 9;
    font-family: Roboto ,sans-serif;
    background: #FFFFFF;
    box-shadow: -5px 0 120px rgba(0, 14, 75, 0.05);
    border-radius: 20px;
    padding: 50px
}
.email {
    color: brown;
    text-decoration: none;
}
.email:hover{
    color: #f64545;
}
/* Calculator */

.calculator, .forbidden{
    z-index: 10;
    font-family: Roboto ,sans-serif;
    background: #FFFFFF;
    box-shadow: -5px 0 120px rgba(0, 14, 75, 0.05);
    border-radius: 20px;
    padding: 115px 159px;
}
input:focus {
    border: 1px solid #e2e2e2;
}
.calculator_dataOutput {
    width: 260px;
    margin-bottom: 10px;
    padding: 10px 15px;
    text-align: right;
    cursor: default;
    background: #F7F8FA;
    border: 1px solid rgba(0, 14, 75, 0.05);
    box-sizing: border-box;
    border-radius: 5px;
    /*-------------------------*/
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 140%;
    color: #000E4B;
}
.calculator_functionality {
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-row-gap: 5px;
}
.calculator_row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 7px;

}
.twoColumnStart {
    grid-area:1/3/1/1;
}
.twoColumnEnd {
    grid-area:1/3/1/6;
}
.calculator_button {
    padding: 7px 0;
    border-radius: 5px;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}
.calculator_button_number {
    color: #000E4B;
    background-color: #F7F8FA;
    border: 1px solid #F7F8FA;
}
.calculator_button_number:hover {
    background: #F4F5F7;
    border-color: rgba(0, 14, 75, 0.05);
}
.calculator_button_operator {
    background-color: #0F5EF7;
    color: #FFFFFF;
    border: 1px solid #F7F8FA;
}
/*==============================*/
.hover_none:hover {
    background-color: #0f5ef7;
}
.cursor_none {
    cursor: default;
}